body{

}
#pr{ /* This is for ids */
    background-image: url("images/rl_field.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.rwc{ /* This is for classes */
    background-color: rgb(225, 136, 136);
    color: rgb(216, 45, 45);
    font-family:sans-serif;
    font-weight:bold;
    font-style:italic;
    text-decoration:solid;
    font-size: 20px;
    border-style:solid;
    border-width:2px;
    border-color:black;
    border-radius:10px;
    padding: 5px;
}

